*,
*::before,
*::after {
    box-sizing: border-box;

}

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
}

img {
    display: block;
    width: 100%;
}

header {
    margin-left: 1em;

}

input, 
button,
textarea,
select {
    font: inherit;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 300px 3fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
        "side head"
        "side main"
        "side main"
        "side main" ;
}

.header {
    grid-area: head;
    background-color:  #ffffff;
}

.aside {
    grid-area: side;
    background-color: #6E29F0;

}

.main {
    grid-area: main;
    background-color: #E2E8F0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
        "proj side";
}

input {
    border-radius: 20px;
    background-color: #E2E8F0;
    border: none;
    width: 70%;
    padding: .325em;
}

.search-container,
.notifications {
    padding: 1.5em 0 0 1.5em;
    display: flex;
    align-items: center;
    gap: 1.2em;
}

.prof-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.handle-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.fa-bell,
.fa-magnifying-glass {
    font-size: 1.2rem;
}


.prof-name {
    font-size: 1rem;
}

.header-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    
}

.handle-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    margin-top: 3.5em;
    margin-left: 1.7em;
}

.fa-bell,
.fa-magnifying-glass,
.prof-pic,
button {
    cursor: pointer;
}

.handle {
    display: flex;
    align-items: center;
    gap: 1em;
}

span {
    font-size: 1rem;
}

.handle-name {
    font-size: 1.5rem;
}

.handle-btns {
    display: flex;
    gap: 1.5em;
}

button {
    background-color: #6E29F0;
    color: #ffffff;
    padding: .6em 2em;
    font-weight: bold;
    border: none;
    border-radius: 20px;
}

aside {
    color: white;
}

.icon-head {
    display: grid;
    grid-template-columns: repeat(2, 40px);
    gap: 1.5em;
    align-items: center;
    margin: 1.2em 0 5em 1.5em;
}

.icon-label {
    display: grid;
    grid-template-columns: repeat(2, 30px);
    align-items: center;
    gap: 1.5em;
    margin: 1.2em 0 1.5em 2em;
    cursor: pointer;
}

.fa-table-columns {
    font-size: 3rem;
}

.utility {
    margin-top: 3em;
}

li {
    text-decoration: none;
    list-style: none;
}

.title {
    font-size: 1.2rem;
    padding: .2em 0;
}

.projects {
    margin: 1.2em 0 1em 1em;
    grid-area: proj;
}

.side-dash {
    grid-area: side;
    display: grid;
    grid-template-columns: 450px;
    margin: 1.2em 0 1em 1em;
}

.side-title {
    font-size: 1rem;
}

hr {
    margin: 1em 0;
}

p {
    width: 40ch;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 200px);
    gap: 1em;
}

.box {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 2em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-left: 10px solid #F08629;
}

.side-box,
.trend-box{
    background-color: #ffffff;
    border-radius: 5px;
    padding: 2em;
    width: 90%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.trends {
    display: grid;
    gap: 1em;
}

.controlls {
    display: flex;
    gap: 1em;
    justify-content: end;
    font-size: 1.2rem;
}




